.rebus {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
}

.rebus .rebus-fadein {
    display: none;
}

.rebus #previous, .rebus #next {
    text-align: center;
    font-size: 50px;
    margin-top: 200px;
}

.rebus #previous a, .rebus #next a {
    color: black;
}

.rebus #previous a:hover, .rebus #next a:hover {
    color: darkgray;
}

.rebus #header {
    margin-top: 30px;
    text-align: center;
}

.rebus #images {
    margin-top: 50px;
}

.rebus #images img {
    margin-right: 10px;
    border: 1px solid gray;
    padding: 3px;
    width: 200px;
}

.rebus #images .rebus-punctuation {
    margin-right: 10px;
    padding: 3px 20px;
    font-size: 70px;
}

.rebus #sentence {
    display: none;
    margin-top: 140px;
    text-align: center;
    margin-bottom: 100px;
}

.rebus .rebus-hover {
    color: black;
}

.rebus .rebus-hover:hover {
    color: darkgray;
    cursor: pointer;
}